<h1>Add a new animal</h1>
<form action="/animals/new" method="post">
  <label for="animal-name">Animal name:</label>
  <input id="animal-name" name="animal-name" type="text">
  <label for="animal-date">Date animal was lovingly given to the shelter in search of a good home:</label>
  <input id="animal-date" name="animal-date" type="date">
  <label for="animal-gender">Animal's gender:</label>
  <input id="animal-gender" name="animal-gender" type="text">
  <label for="animal-breed">Breed of animal:</label>
  <input id="animal-breed" name="animal-breed" type="text">
  <select name="animal-type-id">
    @foreach (var type in Model)
    {
      <option value="@type.GetId()">@type.GetName()</option>
    }
  </select>
  <button type="submit">Add new animal</button>
</form>
<p><a href="/">Back home</a></p>
<p><a href="/animals">View all animals</a></p>
